<input type="hidden" value="{{sender}}" id="senderId">
<div>
    <span id="fileName"></span>
</div>
<a href="#" id="download" class="buttonDownload">Download</a>
<script src="/javascripts/download.js"></script>