<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="actions">
    Your PeerJS ID is <span id="pid"></span>
    <br>
    Your peer ID: <input type="text" id="rid" placeholder="Your peer's ID"><input class="button" type="button" value="Connect" id="connect">
    <br>
    <form id="send">
        <input type="text" id="text" placeholder="Enter Message"><input class="button" type="submit" value="Send to selected peers">
    </form>
    <button id="close">Close selected connections</button>

    <div id="wrap">
        <div id="connections">
            <span class="filler">You have not yet made any connections.</span>
        </div>
        <div class="clear"></div>
    </div>

    <div id="box">
        Drag file here to send to active connections.
    </div>
</div>
<script src="/javascripts/main.js"></script>