body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#box {
  background: #fff;
  font-size: 18px;
  padding: 40px 30px;
  text-align: center;
}

#actions {
  display: block;
}

#send {
  display: inline-block;
}